<div style="text-align: right">
  <a href="#/init" class="waves-effect waves-light btn"> <-- Inicio</a>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input ng-model='lookForBook' id="last_name" type="text" class="validate">
        <label for="last_name">Busca tu libro</label>
      </div>
    </div>
  </form>


  <ul>
    <li class="left-fix" ng-repeat='book in books | filter:lookForBook'>
      <div class="booklist card-panel cyan" ng-click="goMatch(book)">
        <div class="img-book" ng-style="backgroundImgStyle(book)"></div>
        <div class="book-deskcreption">
          <h4 style="text-align: right;" class="white-text">{{book.name}}</h4>
          <h5 class="white-text">Dueño: {{book.holder}}</h5>
          <p class="white-text">ISBN: {{book.isbn}}</p>
        </div>
      </div>
    </li>
  </ul>


</div>