<my-notification></my-notification>

<div style="text-align: right">
  <a href="#/lookfor" class="waves-effect waves-light btn"> <-- Listado</a>
</div>

<div class="match-stuff">
  <div class="card-panel cyan">
    <div class="img-book" ng-style="backgroundImgStyle(book)"></div>
    <div class="book-deskcreption">
      <h4 style="text-align: right;" class="white-text">{{book.name}}</h4>
      <p class="white-text">Dueño: {{book.holder}}</p>
      <p class="white-text">ISBN: {{book.isbn}}</p>
      <p class="white-text">Descripción: {{book.desc}}</p>
      <p class="white-text">Tagas: {{book.tags}}</p>
    </div>
  </div>
</div>

<div class="input-field col s6">
  <input ng-keypress="sendComment($event)" ng-model='newComment'  placeholder="Comenta del libro" id="first_name" type="text" class="validate">
  <!-- <label for="first_name">First Name</label> -->
</div>

<div>
  <ul>
    <li ng-repeat='comment in comments track by $index'>
      <p>{{comment}}</p>
    </li>
  </ul>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Mas sobre ti y tu pedido</label>
      </div>
    </div>
  </form>
</div>

<h5>Te cambio el libro por:</h5>

<a class="mrg-bn btn-floating btn-large waves-effect waves-light red" ng-click='goLooking()'><i class="material-icons">add</i></a>


<div ng-show="lookingToShare" class="card s12 blue lighten-4 internal-panel">
  <ul>
    <li class="" ng-repeat='book in myBooks'>
      <a class="waves-effect waves-light btn internal-btns cyan darken-2" ng-click='addToInterchange(book.name)'>{{book.name}}</a>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li ng-repeat='book in toShareBook'>
      <p>{{book.name}}</p>
    </li>
  </ul>
</div>

<a href="#/lookfor" style='margin-top: 2em' class="waves-effect waves-light btn-large full-btn">Pedir</a>

