<h2>Que ofrezco?</h2>
<div class="offer">
    <img ng-src="{{imageUrl}}" class="responsive-img img-post">
    <div class="input-field">
        <input id="img-url" type="text" ng-model="imageUrl">
        <label for="isbn">Comparte una imagen de tu libro (URL)</label>
    </div>
    <div class="input-field">
        <input id="isbn" type="text" ng-model="isbn">
        <label for="isbn">ISBN</label>
    </div>
    <div class="input-field">
        <input id="title" type="text" ng-model="title">
        <label for="title">Título</label>
    </div>
    <div class="input-field">
        <input id="locations" type="text" ng-model="locations">
        <label for="locations">Donde intercambias?</label>
    </div>
    <div class="input-field">
        <input id="tags" type="text" ng-model="tags">
        <label for="tags">Tags (separados por comas (,)</label>
    </div>
    <div class="input-field">
        <textarea id="description" class="materialize-textarea" ng-model="description"></textarea>
        <label for="description">Descripción/Comentarios</label>
    </div>
</div>
<h2>Que busco?</h2>
<div class="want">
    <div class="input-field" ng-repeat="wanted in wantedBooks track by $index">
        <input type="text" ng-bind="wanted">
        <label for="title">Título o ISBN</label>
    </div>
    <button class="btn" ng-click="addWantedBook()">Agregar uno <i class="material-icons">+</i></button>
</div>