body {
  background: url(assets/bk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 3em;
  box-sizing: border-box;
}

.full-btn {
  width: 100%;
  margin-bottom: 4em;
}

.left-fix {
  float: left;
  width: 100%;
}

.img-book {
  width: 20%;
  height: 9em;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.book-deskcreption {
  width: 80%;
  float: left;
}

.booklist.card-panel {
  float: left;
  width: 100%;

}