body {
  background: url(assets/bk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4 {
  margin-top: 0;
}

.main-container {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 3em;
  box-sizing: border-box;
}

.full-btn {
  width: 100%;
  margin-bottom: 4em;
}

.img-post {
  max-height: 100px;
}

.left-fix {
  float: left;
  width: 100%;
}

.img-book {
  width: 20%;
  height: 9em;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.book-deskcreption {
  width: 80%;
  float: left;
}

.booklist.card-panel {
  float: left;
  width: 100%;
}

.booklist.card-panel:hover, .booklist.card-panel:active {
  box-shadow: none;
  background-color: #2f808a !important;
}

.match-stuff .img-book, .match-stuff .book-deskcreption {
  display: inline-block;
}

.match-stuff .card-panel {
  display: inline-block;
  width: 100%;
}

.mrg-bn {
  margin-bottom: 2em;
}

.internal-panel {
  padding: 1em;
  box-sizing: border-box;
  max-height: 15em;
  overflow-y: scroll;
}

.internal-btns {
  width: 100%;
  margin-bottom: 1em;
}

.dropdown-container {
    position: relative;
    top: -15px;
}

.dropdown-found-books-isbn {
    position: absolute;
    display: block;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
}

.img-home {
    padding: .5rem;
}